{% extends 'base.html' %}

{% block title %}
Корзина
{% endblock %}

{% block content %}

<h1>Корзина</h1>

<table class="table">

    <tr>
        <th>Книга</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
        <th>Действия</th>
    </tr>

    {% for item in cart.items.all %}

    <tr>
        <td>{{ item.book.title }}</td>

        <td>{{ item.book.price }}</td>

        <td>
            <form method="post" action="{% url 'set_cart_item_quantity' item.id %}" class="d-inline">
                {% csrf_token %}
                <div class="input-group input-group-sm" style="width: 120px;">
                    <a href="{% url 'update_cart_item' item.id 'decrease' %}" class="btn btn-sm btn-outline-secondary">
                        -
                    </a>

                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1"
                        max="{{ item.book.stock_quantity }}" class="form-control text-center"
                        onchange="this.form.submit()">

                    <a href="{% url 'update_cart_item' item.id 'increase' %}" class="btn btn-sm btn-outline-secondary">
                        +
                    </a>
            </form>
            </div>
        </td>

        <td>
            {{ item.total_price }}
        </td>

        <td>
            <a href="{% url 'remove_cart_item' item.id %}" class="btn btn-sm btn-danger">
                Удалить
            </a>
        </td>
    </tr>

    {% endfor %}

</table>

<h3>
    Итого: {{ total }} ₽
</h3>

<form method="post" action="{% url 'create_order' %}">

    {% csrf_token %}

    <button type="submit" class="btn btn-success">

        Оформить заказ

    </button>

</form>

{% endblock %}