{% extends 'base.html' %}

{% block title %}
{{ book.title }}
{% endblock %}

{% block content %}

<a href="{% url 'book_list' %}">
    ← Назад к каталогу
</a>

<h1 class="mt-3">
    {{ book.title }}
</h1>

{% if book.cover_image %}
    <img
        src="{{ book.cover_image.url }}"
        width="300"
        class="img-fluid mb-3"
        alt="{{ book.title }}">
{% endif %}

<p>
    <strong>ISBN:</strong>
    {{ book.isbn }}
</p>

<p>
    <strong>Цена:</strong>
    {{ book.price }} ₽
</p>

<p>
    <strong>Описание:</strong>
</p>

<p>
    {{ book.description }}
</p>

{% endblock %}